- block:
    - name: Fetch Syncthing PGP key
      ansible.builtin.get_url:
        url: "{{ syncthing_gpg_url }}"
        dest: /usr/share/keyrings/syncthing-archive-keyring.gpg
        mode: "0644"
      register: syncthing_key

    - name: Add syncthing apt repository
      ansible.builtin.apt_repository:
        repo: |
          deb [signed-by=/usr/share/keyrings/syncthing-archive-keyring.gpg]
          {{ syncthing_download_base_url }} syncthing stable
        filename: syncthing
      register: syncthing_repo
  when: ansible_facts['distribution'] == 'Debian'
  environment:
    LANG: en_US.UTF-8
    LC_ALL: en_US.UTF-8
