---
- block:
    - name: Ensure that the application directories exist
      ansible.builtin.file:
        mode: "0755"
        path: "{{ item }}"
        state: directory
      loop:
        - "{{ configarr_path }}"
        - "{{ configarr_path }}/config"

    - name: Configure configarr compose.yml
      ansible.builtin.template:
        dest: "{{ configarr_path }}"
        mode: "0644"
        src: compose.yml

    - name: Configure configarr config files
      ansible.builtin.template:
        dest: "{{ configarr_path }}/config/{{ item }}"
        mode: "0644"
        src: "{{ item }}"
      loop:
        - config.yml
        - secrets.yml
  tags:
    - configuration
