---
- name: Deploy pilab
  hosts: all
  tasks:
    - ansible.builtin.include_role:
        name: "{{ role }}"
      loop:
        - backup
        - common
        - configarr
        - kodi
        - log2ram
        - logrotate
        - mediasync
        - needrestart
        - syncthing
        - zerotier
      loop_control:
        loop_var: role
