---
- name: Install locales
  ansible.builtin.locale_gen:
    name: "{{ item }}"
    state: present
  with_items:
    - de_DE.UTF-8
    - en_DK.UTF-8
    - en_US.UTF-8

- name: Install common packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - docker.io
    - git
    - jq
    - neovim
