---
- name: Install packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - kodi
    - kodi-eventclients-kodi-send
    - pipewire
    - wireplumber

  # See https://github.com/graysky2/kodi-standalone-service/commit/807d1aada4621195d5b118ba6c43ff20568ea4e9.
- name: Create kodi symlink
  ansible.builtin.file:
    dest: /usr/bin/kodi
    force: true
    src: /usr/lib/kodi/kodi.bin
    state: link

- name: Install kodi standalone service
  ansible.builtin.import_tasks: standalone.yml
  when: kodi_install_standalone | default(true) | bool
